.App {
  text-align: center;
}

.expenseListBox {
  display: flex;
  flex-wrap: nowrap;
  background: red;
}

.expenseListBox > div {
  background-color: #f1f1f1;
  /* width: 100px; */
  margin: 2%;
  padding: 2%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}
